<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kelompok">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kelompok">
        <activity
            android:name=".OutputPembeli"
            android:exported="false" />
        <activity
            android:name=".formPembelian"
            android:exported="false" />
        <activity
            android:name=".Home1"
            android:exported="false" />
        <activity
            android:name=".home1"
            android:exported="false" />
        <activity
            android:name=".DetailMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivityLognin"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Lognin"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>